

/* mobile responsive screen */

/* @media only screen and(max-width:800px){ */
    .Page{
        background-color: #ffffff;
  margin: 0px;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  display:flex;
  flex-direction:column;
  color:#000000;
  padding-top:40px;
    }
    .header{
        width: 100%;
        display: flex;
        padding-left:34px;
    }
    .header h1{
        
        width: 220px;
       

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 44px;
        display: flex;
        align-items: center;

        color: #000000;
    }
    .form{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
    .form input{
      
        width: 360px;
        height: 48px;
        margin-top:27px;
        border: none;
        background: #F6F4F4;
        border-radius: 10px;
        padding-left:22px;
    }
    .normal-button{
        width: 360px;
        height: 60px;
       display:flex;
       flex-direction:row;
       justify-content:center;
       align-items:center;
        color:#ffffff;
        background: #161310;
        border-radius: 10px;
        margin-top:75px;
    }
    .normal-button p{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }
    .bordered-button{
        width: 360px;
        height: 60px;
        color:#000000;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 10px;
        display:flex;
       flex-direction:row;
       justify-content:center;
       align-items:center;
       margin-top:15px;
    }

     .bordered-button p{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }
    .form-message{
        width: 360px;
        height: 34px;
        left: 34px;
        margin-top:15px;
        display:flex;
       flex-direction:row;
       justify-content:center;
       align-items:center;
    }

    .form-message a{
        font-weight:bold;
    }

/* } */

/* end of mobile responsive screen */






